@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

body{
	font-family: "Helvetica", "Roboto", Sans-Serif;
	background-color: #abd3ed;
	margin: 50px;
	margin-top: 15px; /* 5 pt */
	margin-left: calc(25vw + 5px); /* 182 px */
	margin-right: calc(15vw + 5px);
	
	font-size: 12pt;
}



/* styling of text and headings */

p{
	line-height: 1.75em;
}

/* styling of links */

h1 a{
	text-decoration: none;
	color: black;
	font-size: 35pt;
	transition: transform 1s ease, font-weight .2 ease;
}

a{
	text-decoration: none;
	color: blue;
	transition: transform .2s ease;
	display: inline-block;
}

h1 a:hover{
	transform: skewX(-5deg) translate(3.5px, 0px);
	font-style: oblique;
}

a:hover{
	transform: skewX(-5deg) translate(.5px, 0px);
	font-style: oblique;
}

a:active{
	font-weight: bold;
}

nav a{
	text-decoration: none;
	display: inline-block;
	align: right;
	padding-right: 20px;
}

.right{
	float: right;
}



/* styling of images */

img{
	image-orientation: from-image;
	height: 450px;
	margin: 0px 2em 2em 0px;
	display: block;
}

/* gallery styling */

.gallery{
	width: 100%;
	height: auto;
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	flex-flow: wrap;
}

.album{
	width: 275px;
	height: 275px;
	background: #FFFFFF;
	margin: 20px;
	box-sizing: border-box;
	font-size: 50px;
	
	overflow: hidden;
	
	display: flex;
	justify-content: space-around;
	
	border-radius: 10px;
	
	transition: all .5s ease-out;
}

.album:hover{
	box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
	transform: scale(1.05);
}

div img{
	max-height: 100%;
	object-fit: contain;
	display: block;
}

/* other styling */

h2{
	font-weight: 100;
}

footer{
	font-size: 8pt;
	color: grey;
	position: fixed;
	right: 10;
	bottom: 10;
	text-align: right;
}