@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

body{
	font-family: "Helvetica", "Roboto", Sans-Serif;
	background-color: #abd3ed;
	margin: 50px;
	margin-top: 15px; /* 5 pt */
	margin-left: calc(25vw + 5px); /* 182 px */
	margin-right: calc(15vw + 5px);
	
	font-size: 11pt;
}

/* styling of links */

h1 a{
	text-decoration: none;
	color: black;
	font-size: 35pt;
}

a{
	text-decoration: none;
	color: blue;
}

a:hover{
	font-style: oblique;
}

a:active{
	font-weight: bold;
}

nav a{
	text-decoration: none;
	display: inline-block;
	padding-right: 20px;
}

/* styling of images */

img{
	image-orientation: from-image;
	height: 450px;
	margin: 0px 2em 2em 0px;
}

/* other styling */

footer{
	font-size: 10pt;
	color: grey;
	position: fixed;
	right: 10;
	bottom: 10;
	text-align: right;
}