@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(255, 250, 244);
    font-family: 'Helvetica', 'Arial', 'Roboto', sans-serif;
    font-size: 13pt;
    margin: 0;
}

p.inline {
    display: inline-block;
}

/* Styles for grid */

#main-container {
    display: grid;
    grid-template-columns: auto .6fr auto;
    grid-template-rows: 1.23fr 1fr 1fr;
}

#main-content {
    display: block;
    grid-column: 2;
    grid-row: 2;
}

/* Styles for links */

.floatingblock {
    display: inline-block;
    color: darkslateblue;
    text-decoration: none;
    padding: .30em;
    margin: 3px;
    font-size: 80%;
    border-radius: 3px;
    border: .5px solid darkgray;
    background-color: rgb(255, 250, 245);
    transition: all .5s ease;
}

.floatingblock:hover {
    font-size: 100%;
    box-shadow: .5px .5px 5px 1px lightgray;
}

.floatingblock:active {
    font-size: 90%;
    box-shadow: none;
    box-shadow: inset -3px -5px 10px -5px #E0E0E0;
}