@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

nav{
    background-color: #222222;
}

.nav {
    text-decoration: none;
    font-size: 9pt;
    line-height: 1.5em;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

body {
    background-color: rgb(255, 250, 244);
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
    font-size: 13pt;
    margin: 0;
}

p {
    display: inline-block;
}

#main-container {
    display: grid;

    grid-template-columns: auto .6fr auto;
    grid-template-rows: auto 10em auto;
}

#main-content {
    grid-column: 2;
    display: block;
    grid-row: 3;
}


/* Styles for floating-block links */

.floatingblock {
    display: inline-block;
    color: darkslateblue;
    text-decoration: none;
    padding: .30em;
    margin: 3px;
    font-size: 80%;
    border-radius: 3px;
    border: .5px solid darkgray;
    background-color: rgb(255, 250, 245);
    transition: all .5s ease;
}

.floatingblock:hover {
    font-size: 100%;
    box-shadow: .5px .5px 5px 1px lightgray;
}

.floatingblock:active {
    font-size: 90%;
    box-shadow: none;
    box-shadow: inset -3px -5px 10px -5px #E0E0E0;
}